<div class="py-28">
    
    <div class="w-100-p pt-16 fuse-white-bg mat-elevation-z8">
      <div class="col-md-12">
        <mat-slide-toggle [matTooltip]="isChecked ? 'Ver usuarios activos' : 'Ver usuarios inhabilitados'" 
        [(ngModel)]="isChecked" color="warn" (change)="toggle($event)" ></mat-slide-toggle>
        
        <mat-form-field appearance="fill" fxFlex fxHide fxShow.gt-xs class="pb-0" fxLayoutAlign="end">
          <mat-label>Buscar usuario</mat-label>
          <input matInput (keyup)="applyFilter($event.target.value)">
          <mat-icon matSuffix>search</mat-icon>
        </mat-form-field> 

        <button (click)="openModalUsuario()" 
                matTooltip="Registrar usuario" 
                color="primary" 
                class="ml-8"
                mat-fab>
          <mat-icon>person_add</mat-icon>
        </button>
      </div>
    </div>
    <div class="usuarioTable mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" matSort>
        <!-- ID Column -->
        <ng-container matColumnDef="document">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Documento </th>
          <td class="roboto w-auto" mat-cell *matCellDef="let row"> {{row.document}} </td>
        </ng-container>
    
        <!-- Columna Nombre Completo -->

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre Completo </th>
          <td mat-cell *matCellDef="let row" class="pr-8 roboto"> {{ row.name + ' ' + row.lastname }} </td>
        </ng-container>

        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Correo electronico </th>
          <td class="roboto" mat-cell *matCellDef="let row" class="pr-8 roboto"> {{row.email}} </td>
        </ng-container>

        <!-- Cargo -->
        <ng-container matColumnDef="rol">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="w-auto"> Rol </th>
          <td class="roboto pr-16" mat-cell *matCellDef="let row"> 
            {{ row.rol == 1 ? 'Administrador' : row.rol== 2 ? 'Enfermero/a' : row.rol == 3 ? 'Acudiente' : 'Sin asignar' }} 
          </td>
        </ng-container>
    
        <!-- Color Column -->
        <ng-container matColumnDef="accion">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="w-108"> Acciones </th>
          <td mat-cell *matCellDef="let row">
            <div class="button-row" *ngIf="row.estado == 1" fxLayoutAlign="end">
              <button mat-mini-fab color="accent" (click)="rowClicked(row)"
              [matTooltip]="'Editar usuario ' + row.name"
              matTooltipPosition="left"><mat-icon>edit</mat-icon></button>
              <button mat-mini-fab color="warn"
              [matTooltip]="'Inhabilitar a' + row.name"
              matTooltipPosition="left"(click)="habilitarUsuario(row.document, 0 , row.name)" >
              <mat-icon>delete</mat-icon></button>
            </div>

            <div class="button-row" *ngIf="row.estado == 0" fxLayoutAlign="end">
              <button mat-mini-fab class="green-A700-bg"
              [matTooltip]="'Habilitar a' + row.name"
              matTooltipPosition="left" (click)="habilitarUsuario(row.document, 1 , row.name)"
              ><mat-icon>cached</mat-icon></button>
            </div>

          </td>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      </table>
    </div>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </div>