table {
    width: 100%;
  }
  
  .pagoTable{
    max-height: 400px;
    min-height: 100px;
    overflow: auto;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td, th {
    width: 25%;
  }
  