.titulo {
    color: #262626;
    font-size: 30px;
    line-height: 30px;
}
.fecha {
    color: #696969;
    font-size: 15px;
    line-height: 15px;
}

table th {
    background: #ddd;
    color: #262626;
}

.spacer {
    flex: 1 1 auto;
}

.registrado {
    color: rgb(155, 155, 155);
    font-size: 15px;
}